@model SistemaInventario.Models.ViewModels.StockVM
@{
    ViewData["Title"] = "StockDetail";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container p-4">

    <div class="card-header bg-dark text-light m-lg-0 row container" style="height:3.5rem">
        <div class="col-6 d-flex align-items-center">
            <h5>Agregar detalle inventario</h5>
        </div>
        <div class="col-6 text-end align-items-center">
            <a asp-action="Index" class="text-white" style="text-decoration:none"><h5>Salir</h5></a>
        </div>
    </div>

    <form method="post" class="p-2">
        <input asp-for="Stock.Id" id="stockId" hidden name="stockId" />

        <div class="form-group mb-4">
            <label>Bodega</label>
            <input asp-for="Stock.Warehouse.Name" class="form-control" disabled />
        </div>

        <div class="row mb-2">
            <div class="form-group col-md-3">
                <label class="text-primary">Agregar detalle</label>
            </div>
            <div class="row mb-2">
                <div class="form-group col-md-6 mb-2">
                    <select class="form-select" id="productId" name="productId">
                    </select>
                </div>
                <div class="fom-group col-md-2 mb-2">
                    <input class="form-control text-end" placeholder="Cantidad" type="number" min="1" id="quantity" name="quantity" />
                </div>
                <div class="form-group col-md-2 mb-2">
                    <button type="submit" class="btn btn-primary" onfocus="false" id="btnAdd">
                        Agregar
                    </button>
                </div>
            </div>
        </div>
    </form>

    <table class="table table-striped border">
        <thead class="thead-dark">
            <tr class="table-secondary thead-dark">
                <th>Producto</th>
                <th>Marca</th>
                <th>Costo</th>
                <th>Stock</th>
                <th>Cantidad</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Details)
            {
                <tr>
                    <td>@Html.DisplayFor(d => item.Product.Description)</td>
                    <td>@Html.DisplayFor(d => item.Product.Brand.Name)</td>
                    <td>@Html.DisplayFor(d => item.Product.Cost)</td>
                    <td>@Html.DisplayFor(d => item.LastStock)</td>
                    <td>@Html.DisplayFor(d => item.Quantity)</td>
                    <td>
                        <a class="btn btn-primary text-white" asp-action="Plus" asp-route-id="@item.Id">
                            <i class="bi bi-file-plus-fill"></i>
                        </a>
                        <a class="btn btn-primary text-white" asp-action="Less" asp-route-id="@item.Id">
                            <i class="bi bi-file-minus-fill"></i>
                        </a>
                    </td>
                </tr>
            }
        </tbody>
    </table>

    @if (Model.Details.Count() > 0)
    {
        <div class="align-content-lg-center">
            <div class="col-2">
                <a asp-action="GetStock" class="btn btn-warning form-control" asp-route-id="@Model.Stock.Id">
                    Generar Stock
                </a>
            </div>
        </div>
    }
</div>

@section Scripts {
    <script>
        //SELECT 2
        $("#productId").select2({
            placeholder: "Seleccionar producto",
            allowClear: true,
            theme: "bootstrap-5",
            ajax: {
                url: "/Inventory/Stock/SearchProduct",
                contentType: "application/json;charset=utf-8",
                data: function (params) {
                    var query = {
                        term: params.term
                    };
                    return query;
                },
                processResults: function (result) {
                    return {
                        results: $.map(result, function (item) {
                            return {
                                id: item.id,
                                text: item.serieNumber + ' ' + item.description
                            };
                        })
                    };
                }
            }
        });
    </script>
    <script>
        $("#btnAdd").click(function () {
            let quantity = document.getElementById("quantity").value;
            let product = document.getElementById("productId").value;

            if (quantity.toString() == '' || quantity < 1) {
                swal("Error", "Ingrese una cantidad correcta", "error");
                return false;
            }

            if (product.toString() == '') {
                swal("Error", "Seleccione un producto", "error");
                return false;
            }
        });
    </script>
}