@model SistemaInventario.Models.ViewModels.OrderDetailVM
@using SistemaInventario.Utilities

<form method="post">
    <input hidden asp-for="Order.Id" />
    <br />
    <div class="container">
        <div class="card">
            <div class="card-header bg-dark text-light ml-0 row ">
                <div class="col-12 d-none d-md-block col-md-6 pb-1">
                    <i class="fas fa-shopping-cart"></i> &nbsp; Resumen de la Orden
                </div>
                <div class="col-12 col-md-4 offset-md-2 text-right">
                    <a asp-area="Admin" asp-controller="Order" asp-action="Index" class="btn btn-outline-info form-control btn-sm">Regresar</a>
                </div>
            </div>
            <div class="card-body">
                <div class="container rounded p-2">
                    <div class="row">
                        <div class="col-12 col-lg-6 pb-4">
                            <div class="row">
                                <h4 class="d-flex justify-content-between align-items-center mb-3">
                                    <span class="text-secondary">Detalles de Envío:</span>
                                </h4>
                            </div>
                            <div class="row my-1">
                                <div class="col-3">Nombres</div>
                                <div class="col-9">
                                    @if (User.IsInRole(DS.Role_Admin))
                                    {
                                        <input asp-for="Order.ClientName" class="form-control" />
                                    }
                                    else
                                    {
                                        <input asp-for="Order.ClientName" readonly type="text" class="form-control" />
                                    }

                                </div>
                            </div>
                            <div class="row my-1">
                                <div class="col-3">telefono</div>
                                <div class="col-9">
                                    @if (User.IsInRole(DS.Role_Admin))
                                    {
                                        <input asp-for="Order.Phone" class="form-control" />
                                    }
                                    else
                                    {
                                        <input asp-for="Order.Phone" readonly type="text" class="form-control" />
                                    }
                                </div>
                            </div>
                            <div class="row my-1">
                                <div class="col-3">Direccion</div>
                                <div class="col-9">
                                    @if (User.IsInRole(DS.Role_Admin))
                                    {
                                        <input asp-for="Order.Address" class="form-control" />
                                    }
                                    else
                                    {
                                        <input asp-for="Order.Address" readonly type="text" class="form-control" />
                                    }
                                </div>
                            </div>
                            <div class="row my-1">
                                <div class="col-3">Ciudad</div>
                                <div class="col-9">
                                    @if (User.IsInRole(DS.Role_Admin))
                                    {
                                        <input asp-for="Order.City" class="form-control" />
                                    }
                                    else
                                    {
                                        <input asp-for="Order.City" readonly type="text" class="form-control" />
                                    }
                                </div>
                            </div>
                            <div class="row my-1">
                                <div class="col-3">Pais</div>
                                <div class="col-9">
                                    @if (User.IsInRole(DS.Role_Admin))
                                    {
                                        <input asp-for="Order.Country" class="form-control" />
                                    }
                                    else
                                    {
                                        <input asp-for="Order.Country" readonly type="text" class="form-control" />
                                    }
                                </div>
                            </div>
                            <div class="row my-1">
                                <div class="col-3">Email</div>
                                <div class="col-9">
                                    @if (User.IsInRole(DS.Role_Admin))
                                    {
                                        <input asp-for="Order.AppUser.Email" class="form-control" />
                                    }
                                    else
                                    {
                                        <input asp-for="Order.AppUser.Email" readonly type="text" class="form-control" />
                                    }
                                </div>
                            </div>
                            <div class="row my-1">
                                <div class="col-3">Fecha Orden</div>
                                <div class="col-9">
                                    <input value="@Model.Order.OrderDate.ToShortDateString()" readonly type="text" class="form-control" />
                                </div>
                            </div>
                            <div class="row my-1">
                                <div class="col-3">Carrier</div>
                                <div class="col-9">
                                    @if (User.IsInRole(DS.Role_Admin))
                                    {
                                        <input asp-for="Order.Carrier" class="form-control" id="carrierId" />
                                    }
                                    else
                                    {
                                        <input asp-for="Order.Carrier" readonly type="text" class="form-control" />
                                    }
                                </div>
                            </div>
                            <div class="row my-1">
                                <div class="col-3">Numero Envio</div>
                                <div class="col-9">
                                    @if (User.IsInRole(DS.Role_Admin))
                                    {
                                        <input asp-for="Order.ShippingNumber" class="form-control" id="shippingId" />
                                    }
                                    else
                                    {
                                        <input asp-for="Order.ShippingNumber" readonly type="text" class="form-control" />
                                    }
                                </div>
                            </div>
                            <div class="row my-1">
                                <div class="col-3">Fecha Envio</div>
                                <div class="col-9">
                                    @if (Model.Order.ShippingDate.Year < 1900)
                                    {
                                        <input id="fechaEnvio" type="text" readonly class="form-control" />
                                    }
                                    else
                                    {
                                        <input value="@Model.Order.ShippingDate.ToShortDateString()" id="fechaEnvio" type="text" readonly class="form-control" />
                                    }

                                </div>
                            </div>
                            @if (User.IsInRole(DS.Role_Admin))
                            {
                                <div class="row my-1">
                                    <div class="col-3">Transaccion ID</div>
                                    <div class="col-9">
                                        <input asp-for="Order.TransactionId" type="text" readonly class="form-control" />
                                    </div>
                                </div>
                                <div class="row my-1">

                                    <div class="col-3">Fecha de Pago</div>
                                    <div class="col-9">
                                        <input value="@Model.Order.PaymentDate.ToShortDateString()" readonly id="paymentDate" type="text" class="form-control" />
                                    </div>
                                </div>
                                <div class="row my-1">
                                    <div class="col-3">Estado Pago</div>
                                    <div class="col-9">
                                        <input asp-for="Order.PaymentState" type="text" readonly class="form-control" />
                                    </div>
                                </div>
                            }

                        </div>
                        <div class="col-12 col-lg-5 offset-lg-1">
                            <h4 class="d-flex justify-content-between align-items-center mb-3">
                                <span class="text-secondary">Detalle de la Orden</span>
                            </h4>
                            <ul class="list-group mb-3">
                                @foreach (var item in Model.Details)
                                {
                                    <li class="list-group-item d-flex justify-content-between p-2">
                                        <div class="row container">
                                            <div class="col-8">
                                                <input type="hidden" asp-for="@item.Id" />
                                                <h6 class="my-0 text-secondary">@item.Product.Description</h6>
                                                <small class="text-muted">Precio : @item.Price</small><br />
                                                <small class="text-muted">Cantidad : @item.Quantity</small>
                                            </div>
                                            <div class="col-4 text-end">
                                                <p class="text-success">@(String.Format("{0:C}", item.Price * item.Quantity))</p>
                                            </div>
                                        </div>
                                    </li>
                                }

                                <li class="list-group-item bg-info">
                                    <div class="row container">
                                        <div class="col-8">
                                            <h6 class="text-white">TOTAL </h6>
                                        </div>
                                        <div class="col-4 text-end">
                                            <h6 class="text-white">@(String.Format("{0:C}", Model.Order.TotalOrder))</h6>
                                        </div>
                                    </div>
                                </li>
                            </ul>

                            @if (User.IsInRole(DS.Role_Admin))
                            {
                                @if (Model.Order.OrderState == DS.ApprovedState)
                                {
                                    <a asp-action="Proceed" asp-route-id="@Model.Order.Id" class="btn btn-primary form-control">
                                        Empezar a procesar
                                    </a>
                                }
                                @if (Model.Order.OrderState == DS.InProcessState)
                                {
                                    <input type="submit" value="Enviar order" onclick="return validateEntry()" class="btn btn-success form-control"
                                           formaction="/Admin/Order/SendOrder" formmethod="post" />
                                }
                            }
                            else
                            {
                                <label class="btn btn-primary form-control"> @Model.Order.OrderState</label>
                            }

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>


@section Scripts {
    <script>

        function validateEntry() {
            let carrierId = document.getElementById("carrierId").value;
            let shippingId = document.getElementById("shippingId").value;

            if (carrierId == '') {
                swal("Error", "Ingrese el carrier", "error");
                return false;
            }

            if(shippingId == ''){
                swal("Error", "Ingrese el numero de envio", "error");
                return false;
            }
        }

    </script>
}